// ============================================================================
// nextflow.config
// ============================================================================
params {
    // Input — change this per run
    genes_bed                  = null
    // Shard manifests — stable, rarely change
    biallelic_genotype_shards  = "s3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/manifests/genomic_data/biallelic_shards.bed"
    anno_shards                = "s3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/manifests/functional_annotation/2026-01-23/functional_annotation_shards.bed"
    siteqc_shards              = "s3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/manifests/site_qc/2026-01-23/siteqc_shards.bed"
    // Reference files — stable, rarely change
    sample_list                = "s3://512426816668-gel-data-resources/dragen3.7.8/AggV3_resources/samples/sample_list/2026-01-23/sample_list_aggv3.csv"
    seq_report_100k            = "s3://512426816668-structured-data/100K/v19.0/2025-01-24/data/gel_sequencing_report_100k.tsv"
    seq_report_gms             = "s3://512426816668-structured-data/GMS/v5.0/2025-12-17/data/gel_sequencing_report_gms.tsv"
    rd_phenotype               = "s3://lifebit-user-data-bf07cc43-0748-42b9-9930-8b37fcdefcce/deploit/teams/694547aff19cd01b7fc8848d/users/6970ef1d2fb54684887b20ae/dataset/699c43b62ec5447a009687e2/RD_v19_phenotype_data.tsv"
    gms_phenotype              = "s3://lifebit-user-data-bf07cc43-0748-42b9-9930-8b37fcdefcce/deploit/teams/694547aff19cd01b7fc8848d/users/6970ef1d2fb54684887b20ae/dataset/699c43b62ec5447a009687e2/GMS_v4_phenotype_data.tsv"
    // Output
    outdir                     = "results"
    // Container - update version here only
    container = 'ghcr.io/prasundutta87/gene-variant-extractor-from-gel-docker-image:2.0.0'
}
process {
    executor  = 'local'
    container = params.container
	// if a task fails, log the failure and carry on launching the remaining tasks as if nothing happened. 
	// Check pipeline_trace.txt after the run for any failed genes.
	errorStrategy = 'ignore'
    withName: FIND_SHARDS {
        cpus   = 1
        memory = '4 GB'
    }
    withName: RUN_GENE {
        cpus   = 4
        memory = '300 GB'
    }
    withName: ANNOTATE_GENE {
        cpus   = 2
        memory = '300 GB'
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_trace.txt"
    fields    = 'task_id,name,status,exit,memory,peak_rss,duration,realtime'
}

docker {
    enabled = true
}